 {
    "DEFAULT_LOGGER": "default",
    "logger": {
        "__doc": "This logging config is used for the testing the application",
        "default": {
            "logLevel": "DEBUG",
            "filters": [
                "ABL_SUBSTITUTE_FORMAT",
                "ERROR_FORMAT",
                {
                    "name": "TOKEN_FORMAT",
                    "format": "${msg.grp}: ${msg}"
                },
                "REPLACE_TOKENS_FORMAT",
                {
                    "name": "NAMED_FILE_WRITER",
                    "fileName": "${session.temp-directory}/test.log",
                    "append": false
                }
            ]
        },
        "test.makegreeting": {
            "logLevel": "DEBUG",
            "filters": [
                "ABL_SUBSTITUTE_FORMAT",
                "ERROR_FORMAT",
                {
                    "name": "TOKEN_FORMAT",
                    "format": "${msg.grp}: ${msg}"
                },
                "REPLACE_TOKENS_FORMAT",
                {
                    "name": "NAMED_FILE_WRITER",
                    "fileName": "${session.temp-directory}/test-makegreeting.log",
                    "append": false
                }
            ]
        },
        "OpenEdge": {
            "logLevel": "DEBUG",
            "filters": [
                "ERROR_FORMAT",
                "REPLACE_TOKENS_FORMAT",
                "LOG_MANAGER_FORMAT",
                {
                    "name": "NAMED_FILE_WRITER",
                    "fileName": "${session.temp-directory}/test-OE.log",
                    "append": false
                }
            ]
        }
    }
}