 {
    "DEFAULT_LOGGER": "default",
    "logger": {
        "__doc": "This logging config is used for the runtime application",
        "default": {
            "logLevel": "INFO",
            "filters": [
                "ABL_SUBSTITUTE_FORMAT",
                "ERROR_FORMAT",
                {
                    "name": "TOKEN_FORMAT",
                    "format": "${msg.grp}: ${msg}"
                },
                "REPLACE_TOKENS_FORMAT",
                "LOG_MANAGER_WRITER"
            ]
        },
        "OpenEdge": {
            "logLevel": "INFO",
            "filters": [
                "ERROR_FORMAT",
                "REPLACE_TOKENS_FORMAT",
                "LOG_MANAGER_FORMAT",
                "LOG_MANAGER_WRITER"
            ]
        }
    }
}